.reset_password_form{
	width: 700px;
	background: #4E4E50;
	border-radius: 50px;
	margin: 0 auto;
	margin-top: 140px;
	padding-bottom: 50px;
}
.forgot_password{
	font-style: normal;
	font-weight: 900;
	font-size: 36px;
	line-height: 44px;
	color: #FFFFFF;
	text-align: center;
	padding-top: 70px;
}
.btn_forgot_password{
	font-style: normal;
	font-weight: 900;
	line-height: 44px;
	border: none;
	width: 400px;
	background: #950740;
	border-radius: 50px;
	font-size: 20px;
	color: #FFF;
	outline: none;
	text-decoration: underline;
}
.btn_forgot_password:focus{
	border-color: #66afe9;
  	outline: 0;
  	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.btn_forgot_password:hover {
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.form-input{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 35px;
}
.form-input input{
	font-size: 20px;
	font-style: normal;
	font-weight: 900;
	line-height: 44px;
	padding: 5px;
	background: #4E4E50;
	color: #FFF;
	outline: none;
	width: 450px;
	height: 35px;
	text-align: center;
	border-radius: 50px;
	border-bottom: 10px solid #950740;

}
.form-input input::placeholder{
	color: #FFF;
	text-align: center;
}
.form-input input:focus{
	border-color: #66afe9;
  	outline: 0;
  	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.password_reset_done{
	padding: 30px;
	color: #FFF;
	width: 1180px;
	background: #4E4E50;
	border-radius: 50px;
	margin-top: 200px;
}
.btn a{
	display: block;
	color: #FFF;
	height: 100%;
}
.btn{
	text-align: center;
	font-style: normal;
	font-weight: 900;
	line-height: 44px;
	border: none;
	border-radius: 50px;
	font-size: 20px;
	outline: none;
	text-decoration: underline;
	margin-top: 5px;
}
.btn:focus{
	border-color: #66afe9;
  	outline: 0;
  	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.btn:hover {
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.btn_log {
	width: 180px;
	background: #950740;
}