{% extends 'base.html' %}

{% block title %}Восстановление пароля{% endblock %}
{% block content %}
{% for message in messages %}
<div class="{{ message.tags }}">{{ message|safe }}</div>
{% endfor %}
<div class="reset_password_form">
    <div class="forgot_password">Восстановление пароля</div>
    <form method="POST">
        {% csrf_token %}
        <div class="error_msg">{{ form.non_field_errors|striptags }}</div>
        {% for field in form %}
        <div class="form-input">
            {{ field }}
        </div>
        <div class="error_msg">{{ field.errors|striptags }}</div>
        {% endfor %}
        <div class="form-input">
            <button type="submit" class="btn_forgot_password">Восстановить мой пароль</button>
        </div>
    </form>
</div>
{% endblock %}
