{% extends 'base.html' %}

{% block title %}Изменение пароля{% endblock %}
{% block content %}
{% for message in messages %}
<div class="{{ message.tags }}">{{ message|safe }}</div>
{% endfor %}
<div class="change_password_form">
    <div class="change_password">Изменение пароля</div>
    <div class="password_change_done"><p>В целях безопасности, пожалуйста, введите свой старый пароль, затем введите новый пароль дважды, чтобы мы могли убедиться в правильности написания.</p></div>
    <form method="POST">
        {% csrf_token %}
        <div class="error_msg">{{ form.non_field_errors|striptags }}</div>
        {% for field in form %}
        <div class="form-input-change-password">
            {{ field }}
        </div>
        <div class="error_msg">{{ field.errors|striptags }}</div>
        {% endfor %}
        <div class="form-input-change-password">
            <button type="submit" class="btn_change_password">Изменить мой пароль</button>
        </div>
    </form>
</div>
{% endblock %}
