{% extends 'base.html' %}

{% block title %}ГУКЯРЫ SHOP{% endblock %}
{% block content %}
{% for message in messages %}
<div class="message {{ message.tags }}">{{ message|safe }}</div>
{% endfor %}
{% if validlink %}
<div class="reset_password_form">
    <div class="forgot_password">Введите новый пароль</div>
    <form method="POST">
        {% csrf_token %}
        <div class="error_msg">{{ form.non_field_errors|striptags }}</div>
        {% for field in form %}
        <div class="form-input">
            {{ field }}
        </div>
        <div class="error_msg">{{ field.errors|striptags }}</div>
        {% endfor %}
        <div class="form-input">
            <button type="submit" class="btn_forgot_password">Изменить мой пароль</button>
        </div>
    </form>
</div>
{% else %}
<div class="password_reset_done">
    <h1>Ошибка восстановления пароля</h1>
    <p>Неверная ссылка для восстановления пароля. Возможно, ей уже воспользовались. Пожалуйста, попробуйте восстановить
        пароль еще раз.</p>
</div>
{% endif %}
{% endblock %}
